{% extends "base.html" %}

{% block content %}
<h3>{{ title }}</h3>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
   <div class="alert alert-primary" role="alert">
        <h2>{{ st.surname }} {{st.first_name}} {{st.last_name}}</h2>
   </div>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control") }}<br>
        {% for error in form.date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.mark.label }}<br>
        {{ form.mark(class="form-control") }}<br>
        {% for error in form.mark.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/answers/{{ st.id_group }}" class="btn btn-dark">Назад</a>
    </p>
    {{message}}
</form>
{% endblock %}
